.finalDeliveryBox{
    width: 300px;
    margin: 100px auto 10px auto;

    .finalDeliveryDetails{
        display: flex;
        margin-left: 150px;
        margin-bottom: 70px;
    }
    .finalStatus{
        display: flex;
    }
    .finalStatus img{
        width: 40px;
        height: 40px;
    }
    .finalStatus .ssline{
        margin: 0;
    }
    .vnumber{
        display: flex;
        background-color: #c4c4c4;
        width: 200px;
        height: 40px;
        // padding-top: 10px;

        img{
            margin-left: 100px;
        }
    }
    .payTick{
        width: 30px;
        height: 30px;
        margin-top: 4px;
        border-radius: 50px;
        margin-left: -40px;
        background-color: #fff;
    }
    .orderFrom{
        width: 140px;
        background-color: #fff;
        padding-left: 10px;
    }
    .line{
        margin-top: 40px;
    }
    .ssline{
        margin-top: 10px;
    }
    .truck{
        margin-top: 30px;
    }
    .otp p{
        margin-top: 1px;
    }
}